
        <nav class="bg-gray-50  p-4">
            <h1 class="text-cyan-600">Speed Is Matter, Styling When Visualization</h1>
            <div class="flex justify-around text-3xl ">
                <a href="{{ url_for('OlahDataRoutes.index') }}" class=" hover:text-gray-500 text-gray-600">Olah Data</a>
                <a href="{{ url_for('PemodelanRoutes.pemodelan')}}" class=" hover:text-gray-500 text-gray-600">Pemodelan</a>
                <a href="{{ url_for('VisualisasiRoutes.visualisasi') }}" class=" hover:text-gray-500 text-gray-600">Visualisasi</a>
            </div>
        </nav>
